:root {
  --primary: transparent;
  --secondary: rgb(223, 223, 223);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}

html {
  background-color: var(--c-bg);
  overflow-x: hidden;
  overflow-y: scroll;
}

html.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

.fade-enter-active {
  transition: opacity 2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@1,500&display=swap');

.shiki,
.shiki span {
  font-family: 'DM Mono', monospace;
  font-style: italic;
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  font-family: 'DM Mono', monospace;
  font-style: italic;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
